
*.db
*.dll
CrackingTheCodes/Chapter1/package/xmlrpc.config
*.dat
*.exe
CrackingTheCodes/Chapter1/package/License.txt
*.obj
*.ilk
*.log
*.pdb
*.tlog
*.opendb
*.ipch
*.filters
*.user
*.idb
*.bak
CrackingTheCodes/.vs/CrackingTheCodes/v15/.suo
*.enc
CrackingTheCodes/.vs/CrackingTheCodes/v16/.suo
